#headerContenido
{
    margin:30px 0 0 0;
    width:100%;
    height:15%;   
}
#tituloContenido
{
    float:left;    
}

#busqueda
{
    float:right;    
}

#indTable
{
    border-collapse:separate; border-spacing:15px 30px;   
    margin:0;
    padding:0;
}
td
{
    margin:0;
    padding:0;
    text-align:center;
}
th
{
   margin:0;
    padding:0; 
    font-size:large;
}


#contenido
{
    width:75%;
    float:right;
    height:1024px; 
    font-size:100%;
   background-color:#FFFFFF; 
   color:#5F6F83;
}

#botonBusqueda
{
    width:80px;
    height:25px;
    color:#F2F2F2;
    background-color:#5F6F83;  
    text-align:center;
    border-radius:8px; 
    margin:10px 0 0 0;
}


.opcionCrud
{
    background-color:#DC3D24;
    text-align:center;
    border-radius:2px;
    margin:10px 0 0 10px;
    display:inline;
    text-align:center;
    padding:10px;
    color:#E3AE57;    
    font-family:Century Gothic;
    text-decoration:none;
}

.opcionCrud a
{
    color:#E3AE57;    
    text-decoration:none;
}

#tableWrapper
{
       border-radius:5px; 
       border:2px solid #E3AE57;

}


#contenidoEspecifico
{
    width:90%;
    height:800px;
    margin:0 0 0 8%;    
}

#crearLink a
{
    color:#DC3D24;   
    text-decoration:none; 
}

#descripcionController
{
    color:#DC3D24;  
}

#detallesWrapper
{

    padding:10px;  
    margin:20px 0 0 20px;
}

.nombrePropiedadDetalle
{
    float:left;
    color:#232B2B;
    background-color:#BFBFBF;
    width:100%; 
    padding:5px 0 5px 5px;   
    font-weight:bold;
}

.propiedadDetalle
{
   float:left;
   color:#232B2B;
   background-color:#E5E5E5;
   width:100%;  
   padding:5px 0 5px 5px;     
}


#detallesTitulo
{
    width:100%;
    height:10%;
    margin:30px 0 0 0; 
    color:#232B2B;   
}
#detallesTitulo h2
{
    color:#DC3D24;
    }
#volverIndex
{
    margin:50px 0 0 0;
    width: 100%
        
}
#volverIndex a
{
    margin:50px 0 0 0;
    color:#DC3D24;
    text-decoration:none;
    
}

#createWrapper
{
       border-radius:5px; 
       border:2px solid #E3AE57;
       padding:10px;  
}

.infofield
{ 
    font-family:Century Gothic;
    border:1px solid #DC3D24;
    padding:10px;
    
}