#headerContenido
{
    margin:30px 0 0 0;
    width:100%;
    height:15%;   
}
#tituloContenido
{
    
    float:left;    
}



#contenido
{
    width:75%;
    float:right;
    height:1024px; 
    font-size:100%;
   background-color:#ffffff; 
   color:#232B2B;
   font-size:90%;
}

#botonBusqueda
{
    width:80px;
    height:25px;
    color:#F2F2F2;
    background-color:#5F6F83;  
    text-align:center;
    border-radius:8px; 
    margin:10px 0 0 0;
}

.metrouicss .command-button:hover
{
    background-color:#DC3D24;
    color:White;
    
    }

.opcionTabla
{
    background-color:#DC3D24;
    text-align:center;
    border-radius:2px;
    display:block; 
    padding:1%;   
    font-family:Century Gothic;
    margin-left:1%;
    margin-bottom:2%;
    margin-top:2%;
    width:20%;
    }
    
 .opcionTabla a
{
    text-decoration:none;
     color:#E3AE57;
    }
    
.imagenAlbum
{
    display:inline-block;
}

.OrdenAlbum
{
    float:left;
    }
    
.opcionBorrarMult
{
    background-color:#DC3D24;
    text-align:center;
    border-radius:2px;
    display:block; 
    padding:1%;   
    font-family:Century Gothic;
    margin-left:1%;
    margin-bottom:2%;
    margin-top:2%;
    margin-left:20%;
    width:60%;
    }

.opcionBorrarMult a 
{
    text-decoration:none;
    color:#E3AE57;
    }  


#contenidoEspecifico
{
    width:90%;
    height:800px;
    margin:0 0 0 8%;    
}

#crearLink a
{
    color:#DC3D24;   
    text-decoration:none; 
}

#descripcionController
{
    color:#DC3D24;  
}

#detallesWrapper
{

    padding:10px;  
    margin:20px 0 0 20px;
}

.nombrePropiedadDetalle
{
    color:#232B2B;
    background-color:#BFBFBF;
    width:100%; 
    padding:5px 0 5px 5px;   
    font-weight:bold;
}

.propiedadDetalle
{
   color:#232B2B;
   background-color:#E5E5E5;
   width:100%;  
   padding:5px 0 5px 5px;     
}


#detallesTitulo
{
    width:100%;
    height:10%;
    margin:30px 0 0 0; 
    color:#232B2B;   
}
#detallesTitulo h2
{
    color:#DC3D24;
    }
#volverIndex
{
    padding:10px;
    width: 100%
        
}
#volverIndex a
{

    color:#DC3D24;
    text-decoration:none;
    
}

#createWrapper
{
       border-radius:5px; 
       border:2px solid #E3AE57;
       padding:10px;  
}

.infofield
{ 
    font-family:Century Gothic;
    border:1px solid #DC3D24;
    padding:10px;
    
}

.itemWrapper
{
    width:90%;
    height:auto;
    margin-bottom:2%;
    border-radius:5px; 
    border:2px solid #E3AE57;
    padding:1%;
    
}
.indexData
{
    width:100%;
    height:auto;
    margin:0;
    padding:0;
}
.indexData h3
{
    padding: 0 0 0 0;
    font-size: 150%;
    margin-bottom:2%;
}
.indexData h4
{
    padding: 0 0 0 0;
    font-size: 100%;
    margin-bottom: 1%;
    margin-left:2%;
}

.opcionCrud
{
    background-color:#DC3D24;
    text-align:center;
    border-radius:2px;
    display:inline;
    text-align:center;
    color:#E3AE57; 
    padding:1%;   
    font-family:Century Gothic;
    text-decoration:none;
    margin-left:1%;
    margin-bottom:2%;
    margin-top:2%;
    width:20%;
}

.opcionCrud a
{
    color:#E3AE57;    
    text-decoration:none;
    font-size:100%;
}
#opcionWrapper
{
   width:100%;
   height:auto;
   margin:2% 0 2% 0;    
}
#indexWrapper
{
        
    margin:0;
    padding: 0;
}

.multiPreview
{
    display:inline;
    margin:2% 0 2% 2%;
    padding:0;
    width:100px;
    height:100px;    
}


#topBar
{
    width:100%;
    height:5%;
    margin:0 0 2% 0;
    padding:0;
    }
#searchBar
{
    float:left;
    width:70%;
    height:100%;
    margin: 0;
    padding:0;    
}

#logOut
{
    float:right;    
    margin:0 0.5 0 0%;
    width:10%;
    height:80%;
}

.opcionLogOut
{
    background-color:#E3AE57;
    text-align:center;
    border-radius:2px;
    display:inline;     
    padding:0;
    margin:0;
    font-family:Century Gothic;    

}

#searchForm
{
    width:100%;
    height:100%;
    margin:0;
    padding: 0;  
}

.searchText
{
    margin:1% 1% 1% 1%;
    width:30%;
    height:60%;
    display:inline-block;    
}

#searchButton
{
    margin:1% 1% 1% 1%;
    width:15%;
    height:60%;
    display:inline-block;  
    background-color:#DC3D24;
    text-align:center;
    border-radius:2px;
    font-family:Century Gothic;    
}



#topBar
{
    width:100%;
    height:5%;
    margin:0 0 2% 0;
    padding:0;
    }
#searchBar
{
    float:left;
    width:70%;
    height:100%;
    margin: 0;
    padding:0;    
}

#logOut
{
    float:right;    
    margin:0 0.5 0 0%;
    width:10%;
    height:80%;
}

.opcionLogOut
{
    background-color:#E3AE57;
    text-align:center;
    border-radius:4px;
    display:inline;     
    padding:0;
    margin:0;
    font-family:Century Gothic;   
}

.opcionLogOut a 
{
    color:Black;
    text-decoration:none;
    position:relative; 
    top:8px;   
}

#searchForm
{
    width:100%;
    height:100%;
    margin:0;
    padding: 0;  
}

.searchText
{
    margin:1% 1% 1% 1%;
    width:30%;
    height:60%;
    display:inline-block;    
}

#searchButton
{
    margin:1% 1% 1% 1%;
    width:15%;
    height:60%;
    display:inline-block;  
    background-color:#DC3D24;
    text-align:center;
    border-radius:2px;
    font-family:Century Gothic;    
}

.waterMark
{
   color: #999;
   text-align:center;
   font-family:Century Gothic;
   font-family:100%; 
    
    }
    
 #contenidoHeader
 {
    margin:0;
    padding:0;
    width:99%;
    height:10%;

     
 } 
 
 #contenedorContenidoTitulo
 {
     float:left;  
    margin:0;
    padding:0;
    height:100%;
    width:35%;

 }  
 
 #contenidoTitulo
 {
         margin:0;
    padding:0;
    font-family:Century Gothic;
    font-weight:bold;    
    font-size:200%;
    color:#DC3D24;
 }
 
#contenidoDescripcion
{
        margin:0;
    padding:0;
    font-family:Century Gothic;   
    font-size:100%;
    color:#DC3D24;
 }
 
 #contenidoEspecifico
{
    width:90%;
    height:auto;
    margin:0;
    padding:0;    
}

.itemWrapper
{    
    margin:0 0 20px 0;
    padding:0;
    width:100%;
    height:200px;
    border:2px solid #E3AE57;
}

.info
{
    margin:1% 0 0 2%;
    padding: 0;
    width:95%;
    height:40%;
}

.options
{
    margin:1% 0 0 2%;
    padding:0;
    width:95%;
    height:40%; 
 }
 

 
 .itemOption
 {
    background-color:#DC3D24;
    margin:5px 5px 5px 5px;
    padding:0;
    width:15%;
    height:80%;  
    display:inline-block;
    text-align:center;
    text-decoration:none;
    color: Black;
    border-radius:5px;
 }
 .itemOption a 
 {
    text-decoration:none;
    color: Black;
    position:relative;
    top:20px; 
 }

.itemInfo
{
    margin:5px 5px 5px 5px;
    padding:0;
    width:15%;
    height:80%;  
    display:inline-block;
    text-align:center;
    text-decoration:none;
    color: Black;
 }
 
 .infoTitle
 {
    font-weight:bold;
    font-size:120%;
    margin:0 0 0 5px;
    padding:0;
    position:relative;
    bottom:5px;
    text-decoration:underline;
 }
 
 .infoText
 {
     margin:0;
     padding:0;
     font-size:110%;
     position:relative;
     bottom:15px;
 }
 
 #contenedorCrear
 {
   float:right;  
   height:100%;
    width:35%;
 }
 #contenedorCrear a
 {
    text-align:center;
    text-decoration:underline;
    color:#DC3D24;  
    font-size:120%;
    font-weight:bold;
    position:relative;
    top:15px;
 }