#headerContenido
{
    margin:30px 0 0 0;
    width:100%;
    height:15%;   
}
#tituloContenido
{
    float:left;    
}

#busqueda
{
    float:right;    
}


#contenido
{
    width:75%;
    float:right;
    height:1024px; 
    font-size:100%;
   background-color:#ffffff; 
   color:#232B2B;
   font-size:90%;
}

#botonBusqueda
{
    width:80px;
    height:25px;
    color:#F2F2F2;
    background-color:#5F6F83;  
    text-align:center;
    border-radius:8px; 
    margin:10px 0 0 0;
}






#contenidoEspecifico
{
    width:90%;
    height:800px;
    margin:0 0 0 8%;    
}

#crearLink a
{
    color:#DC3D24;   
    text-decoration:none; 
}

#descripcionController
{
    color:#DC3D24;  
}

#detallesWrapper
{

    padding:10px;  
    margin:20px 0 0 20px;
}

.nombrePropiedadDetalle
{
    color:#232B2B;
    background-color:#BFBFBF;
    width:100%; 
    padding:5px 0 5px 5px;   
    font-weight:bold;
}

.propiedadDetalle
{
   color:#232B2B;
   background-color:#E5E5E5;
   width:100%;  
   padding:5px 0 5px 5px;     
}


#detallesTitulo
{
    width:100%;
    height:10%;
    margin:30px 0 0 0; 
    color:#232B2B;   
}
#detallesTitulo h2
{
    color:#DC3D24;
    }
#volverIndex
{
    padding:10px;
    width: 100%
        
}
#volverIndex a
{

    color:#DC3D24;
    text-decoration:none;
    
}

#createWrapper
{
       border-radius:5px; 
       border:2px solid #E3AE57;
       padding:10px;  
}

.infofield
{ 
    font-family:Century Gothic;
    border:1px solid #DC3D24;
    padding:10px;
    
}

.itemWrapper
{
    width:90%;
    height:auto;
    margin-bottom:2%;
    border-radius:5px; 
    border:2px solid #E3AE57;
    padding:1%;
    
}
.indexData
{
    width:100%;
    height:auto;
    margin:0;
    padding:0;
}
.indexData h3
{
    padding: 0 0 0 0;
    font-size: 150%;
    margin-bottom:2%;
}
.indexData h4
{
    padding: 0 0 0 0;
    font-size: 100%;
    margin-bottom: 1%;
    margin-left:2%;
}

.opcionCrud
{
    background-color:#DC3D24;
    text-align:center;
    border-radius:2px;
    display:inline;
    text-align:center;
    color:#E3AE57; 
    padding:1%;   
    font-family:Century Gothic;
    text-decoration:none;
    margin-left:1%;
    margin-bottom:2%;
    margin-top:2%;
    width:20%;
}

.opcionCrud a
{
    color:#E3AE57;    
    text-decoration:none;
    font-size:100%;
}
#opcionWrapper
{
   width:100%;
   height:auto;
   margin:2% 0 2% 0;    
}
#indexWrapper
{
        
    margin:0;
    padding: 0;
}