*
{
    margin:0;
    padding:0;
}

#cuadro-TipoNoticia
{
    background-color:#fff;
    margin:3%;
    width:20%;
    height:250px;
    display:inline-block;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    -moz-box-shadow: 0px 0px 14px #000000;
    -webkit-box-shadow: 0px 0px 14px #000000;
    box-shadow: 0px 0px 14px #000000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fdbfff', endColorstr = '#b0ffd7');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#fdbfff', endColorstr = '#b0ffd7')";
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    opacity: 0.67;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 67);
    filter: alpha(opacity = 67);

}
#cuadro-TipoNoticia
{
    float:left;
    display:block;
    margin-left:15%;
}

#cuadro-TipoNoticia *
{

    text-align:center;
    line-height:3;    
    margin-top:6%;
    font-family:Century Gothic;
}

#cuadro-TipoNoticia:hover
{
    text-shadow: 0px 1px 1px #555;
}

#Content-TipoNoticias
{
    width:70%;
    height:800px;
    margin-left:20%;
}




